@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    padding-top: 5rem;
    &__grid {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.sociales {
    margin: 5rem 0;
    display: flex;
    @include m.tablet {
        margin: 0;
    }
    &__enlace {
        &::before {
            content: '';
            padding: 2rem;
            display: inline-block;
        }
        &[href*="facebook.com"]::before {
            background-image: url(../img/icono_facebook.svg);
        }
        &[href*="twitter.com"]::before {
            background-image: url(../img/icono_twitter.svg);
        }
        &[href*="instagram.com"]::before {
            background-image: url(../img/icono_instagram.svg);
        }
        &[href*="pinterest.com"]::before {
            background-image: url(../img/icono_pinterest.svg);
        }
        &[href*="youtube.com"]::before {
            background-image: url(../img/icono_youtube.svg);
        }
        &[href*="tiktok.com"]::before {
            background-image: url(../img/icono_tiktok.svg);
        }
    }
    &__accesible {
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
        display: block;

        

    }
}

.navegacion {
    background-color: v.$primario;
    padding: .3rem 0;
    margin: 2rem 0;
    &__border {
        border-block: 2px dashed v.$blanco;
        padding: 1.7rem 0;
    }
    &__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__enlace {
        color: v.$blanco;
        font-size: 2.4rem;
        margin-bottom: 1.2rem;
        &:last-of-type {
            margin-bottom: 0;
        }
        @include m.tablet {
            margin-bottom: 0;
        }
    }
}